<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/styles.css' %}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de Agendamento</title>
  </head>
  <body>
    <h1 class="texto_confirmacao">Agendamento Confirmado</h1>
    <p class="texto_confirmacao">
      O agendamento para {{ agendamento.cliente }} foi confirmado com sucesso.
    </p>
    <p class="texto_confirmacao">Outras informações do agendamento:</p>
    <ul class="texto_confirmacao">
      <li>Descrição: {{ agendamento.descricao }}</li>
      <li>Data: {{ agendamento.data }}</li>
      <li>Hora: {{ agendamento.hora }}</li>
    </ul>
  </body>
</html>
